.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(211, 191, 10); 
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.favicon {
  width: 50px; 
}

.title {
  font-size: 2em; 
  text-align: start; 
  flex-grow: 1; 
  padding-left: 5px;
}

.buttons {
  display: flex;
  font-size: 1.5em;  
}

.navbar-button {
  text-decoration: none;
  color: black;
  padding: 5px 10px; 
  border-radius: 5%; 
  transition: background 0.3s; 
  margin: 0 5px; 
}

.navbar-button:hover {
  background-color: white; 
}